body {
  width: 100%;
  height: 100%;
  margin: 0;
}

header {
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

figcaption {
  text-align: center;
}

#featured-property p {
  text-align: center;
  margin-left: 425px;
  margin-right: 425px;
}

#details div{
  display: inline-block;
  padding-left: 80px;
  padding-right: 80px;
  text-align: center;
}

#details {
  background-color: lavender;
  padding-left: 100px; 
  padding-right: 100px; 
}

